.body__div{
    width: 390px;
    height: 560px;
}

.div__div-content{
    width: 390px;
    height: 460px;
    display: flex!important;
}

.body__body-row{
    width: 390px;
    height: 495px;
    display: block;
}

.body-row_body__column-12{
    width: 390px;
    height: 495px;
    display: flex;
    float: left;
}

.navigation-bar{
    width: 65px;
    height: 460px;
    float: left;
    background-color: #ECECED;
    color: #DCDCDE;
    position: relative;
}

.navigation-bar__nav-1{
    width: 100%;
    margin: 25px 0px;
}

.navigation-bar__nav-2{
    width: 100%;
    margin-bottom: 20px
}

ul {
 display: block;
}

.nav-1{
    padding: 15px 0px;
    width: 100%;
    height: 50px;
    color: #ACADB1;
    font-size: 1.3em;
}

.nav-2{
    padding: 15px 0px;
    width: 100%;
    height: 35px;
    font-size: 1.3em;
    color: #9F9FA0;
}

.nav-list-item{
    text-align: center;
    position: relative;
}

#friend-icon{
    color: #343740;
}

nav > i {
    margin-right:10px;
    font-size: 10px;
}

.nav__badge{
    text-decoration: none;
    position: absolute;
    width: 18px;
    height: 13px;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border-radius: 5px; 
    box-sizing: border-box;
    font-size: 12px;
}

.badge-sm{
    width: 5px;
    height: 5px;
    border-radius: 20px;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: red; 
    box-sizing: border-box; 
}

.navigation__empty-div{
    width: 100%;
    height: 120px;
}

.header{
    padding: 5px 15px;
}

.main-div{
    width: 325px;
    height: 460px;
    float: right;
    background-color: white;
    color: black;
    position: relative;
    clear: both;
}

.status-bar{
    display: flex;
    justify-content: flex-end;
    height: 14px;
    margin : 10px -10px;
}

.header__header-row{
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.header__header-column{
    align-items: center;
    width: 50%;
    padding: 0px 10px;
}

.right{
    display: flex;
    justify-content: flex-end;
}

.header__title{
    height: 30px;
    margin: 0px;
    font-size: 20px;
    font-weight: 400;
}

.header__sub-header-wrapper{
    height: 30px;
    margin: 10px 0px;
    background-color: #F6F6F7;
    border-radius: 20px;
}

.header__sub-header-wrapper > i{
    position: absolute;
    left: 0px;
    margin: 8px 25px;
    color: #979798;
}

.sub-header-wrapper__sub-header-input{
    border: none;
    background-color: #F6F6F7;
    margin: 7px 30px;
}

.scroll{
    width: 325px;
    height: 350px;
    overflow-y: scroll;
}

ul > a{
    text-decoration-line: none;
} 

ul > a :hover{
    text-decoration-line: none;
    color: black;
} 

hr{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 8px;
    opacity: 0.7;
}

h5{
    margin-top: 5px;
    font-size: 10px;
    opacity: 0.7;
}

.friends__friend{
    display: inline-flex;
    align-items: center;
}

.friends__friend:hover{
    background-color: #ECECED;
}

.friend--lg{
    width: 100%;
    height: 60px;
    padding: 5px 15px;
}

.friend--md{
    width: 100%;
    height: 55px;
    padding: 7px 20px;
    padding-right: 0px;
}

.friend--lg > img{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 21px;
    border: 0.4px solid #0008;
}

.friend--md > img{
    width: 45px;
    height: 45px;
    border-radius: 18px;
    border: 0.4px solid #0008;
}

.ui-title{
    padding: 5px 15px;
    padding-right: 0px;
    font-size: 15px;
    font-weight: 400;
}

.friend__content{
    max-width: 2500px;
    width: 100%;
    height: 100%;
    margin: 0px 5px;
    flex-direction: column;
    display: inline-grid;
    justify-content: left;
    overflow: hidden;
}

.friend__content-2{
    max-width: 100px;
    width: 100%;
    height: 100%;
    margin: 5px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.friend__name{
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    margin: 0px 5px;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.friend__name > i {
    padding-left: 5px;
}

.friend__status{
    white-space: nowrap;
    overflow: hidden;
    margin: 0px 5px;
    max-width: 130px;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.profile-music{
    height: 23px;
    padding: 4px 8px;
    justify-content: center;
    align-items: right;
    text-align: right;
    font-size: 10px;
    border: 1px solid #00CD3C;
    border-radius: 15px;
}

.border-red{
    border: 1px solid red;
}

.profile-music > span{
    white-space: nowrap;
    overflow: hidden;
    display: inline;
    font-size: 13px;
}

.profile-music > i{
    padding: 2px;
}

.div__div-banner{
    width: 390px;
    height: 100px;
    clear: both;
    position: relative;
    background-size: contain;
}

.banner1{
    background-image: url("../images/banner1.jpg");
}