.talk__main-div {
    background-image: url("../images/doodles.jpg");
}

.talk__header{
    width: 100%;
    height: 55px;
}

.talk__main-div{
    width: 100%;
    height: 450px;
}

.talk__footer{
    width: 100%;
    height: 55px;
}

.send__profile-div{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: black;
}

.receive__talk-div{

}